* {
    margin: 0;
}

.info {
    background-color: cornflowerblue;
    position: relative;
}

.text {
    position: absolute;
    left: 50%;
    top: 30%;
}

h1 {
    text-align: center;
    font-size: xxx-large;
}