@media screen and (max-width: 400px) {
    .header__menu {
        max-width: 400px;
    }
    .header__menu__left__text span {
        display: none;
    }

    .header__menu__right {
        display: none;
    }

    .right__text__mini {
        display: flex;
        align-items: flex-end;
        margin-left: 10px;

    }

    .right__text__mini p {
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
    }

    .header__menu__contact {
        display: flex;
        max-width: 400px;
    }

    .header__menu__contact__right {
        display: flex;
        flex-direction: column-reverse;
        margin-right: 20px;
    }

    .header__menu__contact__logo {
        display: flex;
        justify-content: flex-start;
    }

    .header__menu__contact__time {
        display: none;
    }

    .contact__logo img {
        width: 50px;
    }

    .contact__search {
        display: flex;
        flex-direction: column;
    }

    .contact__address {
        display: none;
    }

    .contact__name p {
        font-size: 8px;
        line-height: 10px;
        color: #0F2438;
    }

    .contact__name h1 {
        font-size: 10px;
        line-height: 12px;
        color: #0F2438;
    }

    .contact__social button {
        width: 140px;
    }

    .contact__social span {
        font-size: 9px;
        line-height: 11px;
        color: #0F2438;
    }

    .contact__phone p {
        font-size: 12px;
        line-height: 14px;
        color: #0F2438;
    }

    .contact__phone h3 {
        font-size: 14px;
        line-height: 16px;
        color: #0F2438;
    }

    .header__menu__login {
        display: none;
    }

    .header__menu__input {
        display: flex;
        max-width: 100px;
        margin-left: -20px;
    }

    .header__menu__input input {
        display: flex;
        max-width: 260px;
        margin-left: -20px;
    }

    .header__menu__search__btn button {
        display: flex;
        max-width: 50px;
    }

    .header__menu__search__btn {
        display: flex;
        max-width: 50px;
    }

    .header__menu__search {
        display: flex;
        max-width: 400px;
    }

    .search__button span button {
        display: block;
    }

    .search__button button {
        display: none;
    }

    .banner {
        display: flex;
        max-width: 400px;
    }

    .arrow4, .arrow3 {
        display: none;
    }

    .banner__description {
        display: flex;
        justify-content: center;
    }

    .banner__description h2 {
        line-height: 22px;
        color: #0A1A2C;
        font-size: large;
    }

    .banner__description p {
        font-size: 12px;
        line-height: 14px;
        text-decoration-line: underline;
        color: #717171;
    }

    .price__first p {
        font-size: 20px;
        line-height: 23px;
        color: #005BB9;
    }

    body {
        overflow: scroll;
    }

    .price {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .content__banner {
        display: flex;
        flex-direction: column;
    }

    .banner__img img {
        display: flex;
        width: 150px;
        height: 170px;
        margin-right: 20px;
    }

    .content__product {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }

    .arrow1, .arrow2 {
        display: none;
    }

    .products__cards {
        display: flex;
        margin-left: -20px;
        width: 800px;
    }

    .products__cards__item {
        display: flex;
        overflow: hidden;
        width: 250px;
        height: 125px;

    }
    .products__cards__item__none {
        display: none;
    }

    .content__product__box {
        display: flex;
        margin-top: 20px;
    }

    .banner__footer {
        display: none;
    }
    .header__menu__login__none {
        display: flex;
        flex-grow: 4;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
    }
    .header__menu__login__none img {
        width: 50px;
        height: 50px;
    }

    .onlybuttons {
        display: none;
    }

    .products__cards__item__img img {
        width: 80px;
        height: 100px;
    }

    .main__news__all {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .main__news__img img {
        display: none;
    }

    .footer__right {
        display: flex;
        flex-direction: column;
    }

    .footer__left {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer__right__social {
        justify-content: flex-start;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        height: 1500px;
        padding: 10px;
    }
    .footer__right__input input {
        width: 250px;
    }
    .footer__right__btn {
        width: 50px;
    }

    .btn__line span {
        display: none;
    }

    .cards__list__box__img img {
        width: 120px;
        height: 140px;
    }

    .cards__list__box {
        margin-right: -25px;
    }
    .hidden {
        visibility: hidden;
    }

    .cards__list__box p {
        font-size: 12px;
        line-height: 14px;
        color: #0F2438
    }

    .left__text {
        align-items: flex-end;
    }

    .city {
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
    }

    .left__text a {
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
    }

    .menu__left__img img {
        height: 15px;
    }

    .header__menu__search__btn button span {
        display: none;
    }

    .main__news__all {
        display: flex;
        margin-left: 10px;
    }

    .header__news h2 {
        margin-left: 5px;
        margin-top: 20px;
    }

    .header__menu__search__btn span {
        display: none;
    }
    .products__cards__item__txt h4 {
        font-size: 12px;
        line-height: 14px;
    }
    .products__cards__item__txt p {
        font-size: 10px;
        line-height: 12px;
    }
    .products__cards {
        height: 125px;
        width: 500px;
    }
    body {
        overflow-x: hidden;
    }
    .SONNAX h5 {
        font-size: 12px;
        line-height: 14px;
    }
    .SONNAX p {
        font-size: 10px;
        line-height: 12px;
    }
    .numbers p {
        font-size: 10px;
        line-height: 12px;
    }
    .content__product__box {
        height: 160px;
        row-gap: 0;
    }
    .cards__list__none {
        display: flex;
        flex-grow: 1;
        box-sizing: border-box;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .cards__list {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 20px;
    }
    .header__news__line {
        display: none;
    }
    .main__news__img__box {
        margin-top: 20px;
    }
    .main__news {
        width: 100%;
    }
    .footer__right__main {
        display: flex;
        flex-direction: column;
    }
    .footer__right__adress {
        margin-top: 50px;
    }
    .cards {
        margin-left: 10px;
    }
}