@media screen and (max-width: 400px) {
    .header__menu {
        max-width: 400px;
    }


    .header__menu__left__text span {
        display: none;
    }

    .header__menu__right {
        display: none;
    }

    .right__text__mini {
        display: flex;
        align-items: flex-end;
        margin-left: 10px;

    }

    .right__text__mini p {
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
    }

    .header__menu__contact {
        display: flex;
        max-width: 400px;
    }

    .header__menu__contact__right {
        display: flex;
        flex-direction: column-reverse;
        margin-right: 20px;
    }

    .header__menu__contact__logo {
        display: flex;
        justify-content: flex-start;
    }

    .header__menu__contact__time {
        display: none;
    }

    .contact__logo img {
        width: 50px;
    }

    .contact__search {
        display: flex;
        flex-direction: column;
    }

    .contact__address {
        display: none;
    }

    .contact__name p {
        font-size: 8px;
        line-height: 10px;
        color: #0F2438;
    }

    .contact__name h1 {
        font-size: 10px;
        line-height: 12px;
        color: #0F2438;
    }

    .contact__social button {
        width: 140px;
    }

    .contact__social span {
        font-size: 9px;
        line-height: 11px;
        color: #0F2438;
    }

    .contact__phone p {
        font-size: 12px;
        line-height: 14px;
        color: #0F2438;
    }

    .contact__phone h3 {
        font-size: 14px;
        line-height: 16px;
        color: #0F2438;
    }

    .header__menu__login {
        display: none;
    }

    .header__menu__input {
        display: flex;
        max-width: 100px;
        margin-left: -20px;
    }

    .header__menu__input input {
        display: flex;
        max-width: 260px;
        margin-left: -20px;
    }

    .header__menu__search__btn button {
        display: flex;
        max-width: 50px;
    }

    .header__menu__search__btn {
        display: flex;
        max-width: 50px;
    }

    .header__menu__search {
        display: flex;
        max-width: 400px;
    }

    .search__button span button {
        display: block;
    }

    .search__button button {
        display: none;
    }

    .banner {
        display: flex;
        max-width: 400px;
    }

    .arrow4, .arrow3 {
        display: none;
    }

    .banner__description {
        display: flex;
        justify-content: center;
    }

    .banner__description h2 {
        line-height: 22px;
        color: #0A1A2C;
        font-size: large;
    }

    .banner__description p {
        font-size: 12px;
        line-height: 14px;
        text-decoration-line: underline;
        color: #717171;
    }

    .price__first p {
        font-size: 20px;
        line-height: 23px;
        color: #005BB9;
    }

    body {
        overflow: scroll;
    }

    .price {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .content__banner {
        display: flex;
        flex-direction: column;
    }
    .banner__img img {
        display: flex;
        max-width: 170px;
    }

    .content__product {
        display: flex;
        max-width: 400px;
        flex-direction: row;
        column-gap: 20px;
    }

    .arrow1, .arrow2 {
        display: none;
    }
    .products__cards {
        display: flex;
        margin-left: -20px;
        width: 800px;
    }
    .products__cards__item {
        display: flex;
        overflow: hidden;
    }
    .content__product__box {
        display: flex;
        overflow: hidden;
    }
    .banner__footer {
        display: none;
    }
    .onlybuttons {
        display: none;
    }
    .products__cards__item__img img {
        width: 80px;
        height: 100px;
    }
    .main__news__all {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .main__news__img img {
        display: none;
    }
    .footer__right {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 800px;
        right: 140px
    }
    .footer__left {
        display: flex;
        flex-direction: column;
    }
    .footer {
        height: 1500px;
        padding: 0;
    }
    .btn__line span {
        display: none;
    }
    .cards__list__box__img img {
        width: 120px;
        height: 140px;
    }
    .cards__list__box {
        margin-right: -30px;
    }
    .cards__list__box p {
        font-size: 12px;
        line-height: 14px;
        color: #0F2438
    }
    .left__text {
        align-items: flex-end;
    }

    .header__menu__search__btn button span {
        display: none;
    }
}