* {
    margin: 0;
}

.all {
    display: block;
}

.header {
    display: flex;
    background-color: #f1c5b3;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.header__left {
    display: flex;
    background-color: #96e8ea;
    width: 140px;
    height: 50%;
    border-radius: 8px;
}

.header__right {
    display: flex;
    width: 40%;
    height: 80px;
    justify-content: flex-end;
}

.header__right__lines {
    display: flex;
    width: 50px;
    height: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-right: 25px;
}

i {
    display: flex;
    width: 50px;
    height: 50px;
    margin-top: 28px;
    font-size: 30px;
}

.header__right__line {
    display: flex;
    background-color: #9bbbf1;
    height: 4px;
    width: 40px;
}

.description {
    display: flex;
    width: 100%;
    height: 250px;
    background-color: #96e8ea;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

button {
    display: flex;
    border-radius: 25px;
    background-color: #9bbbf1;
    margin-top: 20px;
    font-size: large;
}

.description__h1 {
    display: flex;
    margin-top: 20px;
}

.description__content {
    display: flex;
    max-width: 32%;
    height: 350px;
    justify-content: space-evenly;
    margin-top: 70px;
    flex-wrap: wrap;
}

.description__content__box {
    display: flex;
    background-color: #9bbbf1;
    width: 25%;
    height: 120px;
    border-radius: 15px;
}

.main {
    display: flex;
    background-color: #f1c5b3;
    width: 100%;
    height: 2000px;
    flex-direction: column;
}


.main__h3 {
    display: flex;
    justify-content: center;
    margin-top: 90px;

}

.main__content {
    display: flex;
    width: 50%;
    height: 500px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 60px;
    position: relative;
}

.main__content__box {
    display: flex;
    background-color: #9bbbf1;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    flex-grow: 1;

}

p {
    position: relative;
    margin-top: 150px;
    margin-left: 60px;
    font-weight: bolder;
}

.central__content {
    display: flex;
    /*background-color: chartreuse;*/
    width: 50%;
    height: 1250px;
    margin: 40px auto;
    flex-wrap: wrap;
    flex-direction: column;
}

.central__content__h3 {
    display: flex;
    margin: 40px auto;
    font-size: 20px;
}

.central__content__box {
    display: flex;
    width: 100%;
    height: 170px;
    column-gap: 20px;

}

.central__content_onebox {
    display: flex;
    background-color: mediumslateblue;
    height: 170px;
    border-radius: 20px;
    flex-grow: 1;
}

.central__content__text {
    display: flex;
    width: 100%;
}

.central__content__text__left {
    display: flex;
    width: 50%;
}

.central__content__text__right {
    display: flex;
    width: 50%;
}

.central__content__text__left p, .central__content__text__right p {
    margin: 0;
    text-align: center;
}

.central__content__footer {
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
}

.central__content__footer__h3 {
    display: flex;
    margin: 20px auto;
    font-size: 20px;
}

.central__content__footer__main {
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: row;
    justify-content: space-between;
}

.central__content__footer__tr__left {
    display: flex;
    margin-top: 90px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid #96e8ea;
    border-bottom: 20px solid transparent;
}


.central__content__footer__box {
    display: flex;
    background-color: #7b68ee;
    height: 120px;
    width: 200px;
    border-radius: 20px;
    margin-top: 50px;
}

.central__content__footer__tr__right {
    display: flex;
    margin-top: 90px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid #96e8ea;
    border-bottom: 20px solid transparent;
}

.central__content__circle {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
}

.content__circle {
    display: flex;
    background-color: #7b68ee;
    width: 130px;
    height: 120px;
    border-radius: 50%;
    margin-top: 30px;

}

.central__content__circle__text {
    display: flex;
    width: 85%;
    height: 200px;
    flex-direction: column;

}

.central__content__circle__text h3 {
    display: flex;
    width: 100%;
    padding-left: 20px;

}

.central__content__circle__text p {
    display: flex;
    width: 80%;
    height: 150px;
    margin: 0;
    padding-left: 20px;
}

.content__end {
    display: flex;
    background-color: #96e8ea;
    width: 100%;
    height: 150px;
    margin-top: -40px;
    flex-direction: column;

}

.content__end__block {
    display: flex;
    width: 130px;
    height: 40px;
    margin: 0 auto;
}

.content__end__box {
    display: flex;
    background-color: #7b68ee;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    border-radius: 10px;

}

.content__end__text {
    display: flex;
    width: 700px;
    height: 70px;
    margin: 0 auto;
}